# hw_09

## 1.若要反驳以下论断，请写出下列论断的零假设与备择假设

（1） 百事可乐公司声称，其生产的罐装可乐的标准差为0.005磅

$H_0:σ$ = 0.005

$H_1:σ$ ≠ 0.005


（2） 某社会调查员说从某项调查得知中国的离婚率高达38.5%

$H_0:p$ >= 0.385

$H_0:p$ < 0.385

（3） 某学校招生宣传手册中写道，该学校的学生就业率高达99%。

$H_0:p$ >= 0.99

$H_1:p$ <0.99

## 2.某学生随机抽取了10包一样的糖并称量它们的包装的重量，判断这些糖的包装的平均重量是否为3.5g。其中，这10包糖的重量如下（单位：g）：

3.2,3.3,3.0,3.7,3.5,4.0,3.2,4.1,2.9,3.3

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from scipy import stats as ss

df=DataFrame({'data':[3.2,3.3,3.0,3.7,3.5,4.0,3.2,4.1,2.9,3.3]})
ss.ttest_1samp(a = df, popmean = 3.5)

Ttest_1sampResult(statistic=array([-0.6289709]), pvalue=array([0.54499936]))

p-value>0.05,不拒绝原假设，平均重量为3.5g

## 3.计算Amtrak.xls 数据集的均值、标准差、方差、最大值、最小值、25%分位数、75%分位数、偏度、峰度

In [10]:
Amtrak = pd.read_excel("Amtrak.xls")
Amtrak.describe()

       NumPassengers          t  log(Numpassengers)
count      87.000000  87.000000           87.000000
mean     1878.345241  44.000000            7.532932
std       188.196648  25.258662            0.104117
min      1371.690000   1.000000            7.223799
25%      1766.749000  22.500000            7.476894
50%      1864.852000  44.000000            7.530937
75%      2014.837500  65.500000            7.608291
max      2223.349000  87.000000            7.706770

In [14]:
Amtrak.cov()

                    NumPassengers            t  log(Numpassengers)
NumPassengers        35417.978155  2854.730512           19.549129
t                     2854.730512   638.000000            1.558435
log(Numpassengers)      19.549129     1.558435            0.010840

In [12]:
Amtrak.corr()

                    NumPassengers         t  log(Numpassengers)
NumPassengers            1.000000  0.600541            0.997682
t                        0.600541  1.000000            0.592591
log(Numpassengers)       0.997682  0.592591            1.000000