In [9]:
from __future__ import division
import numpy as np
import os
import matplotlib.pyplot as plt
from scipy.interpolate import lagrange #导入拉格朗日插值函数
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

# 缺失值处理——拉格朗日插值法

In [78]:
inputfile = 'C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/data/catering_sale.xls' #销量数据路径
outputfile = 'C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/data/sales.xls' #输出数据路径

In [88]:
data = pd.read_excel(inputfile) #读入数据
data[(data["销量"] < 400)]

In [ ]:
data[(data["销量"] > 5000)]

In [91]:
 data["销量"][(data["销量"] < 400) | (data["销量"] > 5000)] = None #过滤异常值，将其变为空值

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

`Warning`!

`C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning: `
`A value is trying to be set on a copy of a slice from a DataFrame`

`See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.`

In [94]:
data[(data["销量"] < 400)]

Empty DataFrame
Columns: [日期, 销量]
Index: []

In [95]:
data[(data["销量"] > 5000)]

Empty DataFrame
Columns: [日期, 销量]
Index: []

# 自定义列向量插值函数

In [97]:
#s为列向量，n为被插值的位置，k为取前后的数据个数，默认为5
def ployinterp_column(s, n, k=5):
  y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
  y = y[y.notnull()] #剔除空值
  return lagrange(y.index, list(y))(n) #插值并返回插值结果

In [115]:
 def ploy_column(s, n, k=5):
        y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
        y = y[y.notnull()] #剔除空值
        print("[list(range(n-k, n): ",list(range(n-k, n)),"list(range(n+1, n+1+k)): ",list(range(n+1, n+1+k)))
        y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
        print("y",y)
        print("y.notnull()",y.notnull())
        y = y[y.notnull()] #剔除空值
        print("y(notnull)",y)
        print("y.index",y.index)
        print("n:",n)
        print("y.index",y.index)
        print("final return")
        print(lagrange(y.index, list(y))(n))

In [104]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df4 = DataFrame({'rkey': ['a', 'b', 'd'],
                 'data2': range(3)})
p = pd.merge(df3, df4, left_on='lkey', right_on='rkey')
p

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   data1 lkey  data2 rkey
0    0.0    b      1    b
1    1.0    b      1    b
2    6.0    b      1    b
3    NaN    a      0    a
4    NaN    a      0    a
5    5.0    a      0    a

In [107]:
p['data1'][(0)] = None
p['lkey'][(1)] = None
p['data2'][(3)] = None
p['rkey'][(2)] = None

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [108]:
p

   data1  lkey  data2  rkey
0    NaN     b    1.0     b
1    1.0  None    1.0     b
2    6.0     b    1.0  None
3    NaN     a    NaN     a
4    NaN     a    0.0     a
5    5.0     a    0.0     a

In [112]:
for i in p.columns:
  for j in range(len(p)):
    if (p[i].isnull())[j]: #如果为空即插值。
     #插值并返回插值结果

NameError: name 'n' is not defined

In [98]:

#逐个元素判断是否需要插值
for i in data.columns:
  for j in range(len(data)):
    if (data[i].isnull())[j]: #如果为空即插值。
      data[i][j] = ployinterp_column(data[i], j)

data.to_excel(outputfile) #输出结果，写入文件

C:\Anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [99]:
data

            日期           销量
0   2015-03-01  -291.400000
1   2015-02-28  2618.200000
2   2015-02-27  2608.400000
3   2015-02-26  2651.900000
4   2015-02-25  3442.100000
5   2015-02-24  3393.100000
6   2015-02-23  3136.600000
7   2015-02-22  3744.100000
8   2015-02-21  4275.254762
9   2015-02-20  4060.300000
10  2015-02-19  3614.700000
11  2015-02-18  3295.500000
12  2015-02-16  2332.100000
13  2015-02-15  2699.300000
14  2015-02-14  4156.860423
15  2015-02-13  3036.800000
16  2015-02-12   865.000000
17  2015-02-11  3014.300000
18  2015-02-10  2742.800000
19  2015-02-09  2173.500000
20  2015-02-08  3161.800000
21  2015-02-07  3023.800000
22  2015-02-06  2998.100000
23  2015-02-05  2805.900000
24  2015-02-04  2383.400000
25  2015-02-03  2620.200000
26  2015-02-02  2600.000000
27  2015-02-01  2358.600000
28  2015-01-31  2682.200000
29  2015-01-30  2766.800000
30  2015-01-29  2618.800000
31  2015-01-28  2714.300000
32  2015-01-27  2280.800000
33  2015-01-26  2414.000000
34  2015-01-25  3130.600000
35  2015-01-24  2716.900000
36  2015-01-23  2930.800000
37  2015-01-22  2504.900000
38  2015-01-21  2559.500000
39  2015-01-20  2168.600000
40  2015-01-19  2436.400000
41  2015-01-18  3234.300000
42  2015-01-17  3061.000000
43  2015-01-16  2900.100000
44  2015-01-15  2646.800000
45  2015-01-14  2615.200000
46  2015-01-13  2124.400000
47  2015-01-12  1958.000000
48  2015-01-08  2259.100000
49  2015-01-07  2419.800000
..         ...          ...
151 2014-09-20  3017.900000
152 2014-09-19  2625.500000
153 2014-09-18  2752.700000
154 2014-09-17  2181.500000
155 2014-09-16  2440.500000
156 2014-09-15  2422.800000
157 2014-09-14  2583.600000
158 2014-09-13  2728.900000
159 2014-09-12  2525.300000
160 2014-09-11  2531.700000
161 2014-09-10  2300.500000
162 2014-09-09  2097.500000
163 2014-09-08  4065.200000
164 2014-09-07  3555.200000
165 2014-09-06  3462.500000
166 2014-09-05  3033.100000
167 2014-09-04  2926.100000
168 2014-09-03  2431.400000
169 2014-09-02  2706.000000
170 2014-09-01  3049.900000
171 2014-08-31  3494.700000
172 2014-08-30  3691.900000
173 2014-08-29  2929.500000
174 2014-08-28  2760.600000
175 2014-08-27  2593.700000
176 2014-08-26  2884.400000
177 2014-08-25  2591.300000
178 2014-08-24  3022.600000
179 2014-08-23  3052.100000
180 2014-08-22  2789.200000
181 2014-08-21  2909.800000
182 2014-08-20  2326.800000
183 2014-08-19  2453.100000
184 2014-08-18  2351.200000
185 2014-08-17  3279.100000
186 2014-08-16  3381.900000
187 2014-08-15  2988.100000
188 2014-08-14  2577.700000
189 2014-08-13  2332.300000
190 2014-08-12  2518.600000
191 2014-08-11  2697.500000
192 2014-08-10  3244.700000
193 2014-08-09  3346.700000
194 2014-08-08  2900.600000
195 2014-08-07  2759.100000
196 2014-08-06  2915.800000
197 2014-08-05  2618.100000
198 2014-08-04  2993.000000
199 2014-08-03  3436.400000
200 2014-08-02  2261.700000

[201 rows x 2 columns]