# hw_06

1. 读入  肝气郁结证型系数.xls  数据集，将数据集按照等距、小组等量 两种方式 分别分为5组数据，分别计算5组数据的中位数与标准差

2. 读入BHP1.csv，使用适当的方法填补缺失值

3. 读入BHP2.xlsx，与BHP1数据集合并为BHP数据集

4. 将BHP数据集中的成交量（volume）替换为 high、median、low 三种水平（区间自行定义）

# 1

In [1]:
from __future__ import division
import numpy as np
import os
import matplotlib.pyplot as plt
from scipy.interpolate import lagrange #导入拉格朗日插值函数
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

In [9]:
#input = "C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/hw_data/肝气郁结证型系数.xls"
input = "D:/wenting/Learn_Python/6/hw_data/肝气郁结证型系数.xls"
data = pd.read_excel(input)
data[1:10]
data_arr=np.array(data)
data_arr

array([[0.056],
       [0.488],
       [0.107],
       ...,
       [0.287],
       [0.296],
       [0.169]])

In [10]:
newdata=data_arr.reshape(186,5)
df=DataFrame(newdata)
df.describe()

                0           1           2           3           4
count  186.000000  186.000000  186.000000  186.000000  186.000000
mean     0.232726    0.232022    0.231849    0.231828    0.232344
std      0.078482    0.078085    0.079035    0.077794    0.078899
min      0.042000    0.049000    0.026000    0.033000    0.041000
25%      0.177500    0.179250    0.176250    0.175000    0.176250
50%      0.229000    0.232500    0.232500    0.230500    0.228500
75%      0.277750    0.281250    0.281000    0.282500    0.283000
max      0.488000    0.488000    0.504000    0.474000    0.487000

# 2

In [27]:
input2 = "D:/wenting/Learn_Python/6/hw_data/BHP1.csv"
BHP1 = pd.read_csv(input2)

del BHP1["Unnamed: 2"]
del BHP1["Unnamed: 7"] 

BHP1

   name        date   Open   High    Low  Close
0   BHP  11-02-2011  93.11  94.26  92.90  93.72
1   BHP  14-02-2011  94.57  96.23  94.39  95.64
2   BHP  15-02-2011  94.45  95.47  93.91  94.56
3   BHP  16-02-2011  92.67  93.58  92.56  93.30
4   BHP  17-02-2011  92.65  93.98  92.58  93.93
5   BHP  18-02-2011  92.34  93.00  92.00  92.39
6   BHP  22-02-2011    NaN  93.98  91.75  92.11
7   BHP  23-02-2011  91.93  92.46  91.05  92.36
8   BHP  24-02-2011  92.42  92.71  90.93  91.76
9   BHP  25-02-2011  93.48  94.04  92.44  93.91
10  BHP  28-02-2011  94.81  95.11  94.10  94.60
11  BHP  01-03-2011  95.05  95.20  93.13  93.27
12  BHP  02-03-2011  93.89  94.89  93.54  94.43

In [28]:
def ployinterp_column(s, n, k=5):
  y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
  y = y[y.notnull()] #剔除空值
  return lagrange(y.index, list(y))(n)

In [29]:
for i in BHP1.columns:
  for j in range(len(BHP1)):
    if (BHP1[i].isnull())[j]: #如果为空即插值。
      BHP1[i][j] = ployinterp_column(BHP1[i], j)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [30]:
BHP1

   name        date       Open   High    Low  Close
0   BHP  11-02-2011  93.110000  94.26  92.90  93.72
1   BHP  14-02-2011  94.570000  96.23  94.39  95.64
2   BHP  15-02-2011  94.450000  95.47  93.91  94.56
3   BHP  16-02-2011  92.670000  93.58  92.56  93.30
4   BHP  17-02-2011  92.650000  93.98  92.58  93.93
5   BHP  18-02-2011  92.340000  93.00  92.00  92.39
6   BHP  22-02-2011  91.912976  93.98  91.75  92.11
7   BHP  23-02-2011  91.930000  92.46  91.05  92.36
8   BHP  24-02-2011  92.420000  92.71  90.93  91.76
9   BHP  25-02-2011  93.480000  94.04  92.44  93.91
10  BHP  28-02-2011  94.810000  95.11  94.10  94.60
11  BHP  01-03-2011  95.050000  95.20  93.13  93.27
12  BHP  02-03-2011  93.890000  94.89  93.54  94.43

# 3

In [45]:
input3 = "D:/wenting/Learn_Python/6/hw_data/BHP2.xlsx"
BHP2 = pd.read_excel(input3)

del BHP2["Unnamed: 2"]

BHP2

   name        date   Open   High    Low  Close   volume
0   BHP  03-03-2011  95.90  96.11  95.18  96.02  3379400
1   BHP  04-03-2011  96.12  96.44  95.08  95.76  2463900
2   BHP  07-03-2011  96.51  96.66  94.03  94.47  3590900
3   BHP  08-03-2011  93.72  94.47  92.90  94.34  3805000
4   BHP  09-03-2011  92.94  93.13  91.86  92.22  3271700
5   BHP  10-03-2011  89.00  89.17  87.93  88.31  5507800
6   BHP  11-03-2011  88.24  89.80  88.16  89.59  2996800
7   BHP  14-03-2011  88.17  89.06  87.82  89.02  3434800
8   BHP  15-03-2011  84.58  87.32  84.35  86.95  5008300
9   BHP  16-03-2011  86.31  87.28  83.85  84.88  7809799
10  BHP  17-03-2011  87.32  88.29  86.89  87.38  3947100
11  BHP  18-03-2011  89.53  89.58  88.05  88.56  3809700
12  BHP  21-03-2011  90.13  90.16  88.88  89.59  3098200
13  BHP  22-03-2011  89.50  89.59  88.42  88.71  3500200
14  BHP  23-03-2011  89.57  90.32  88.85  90.02  4285600
15  BHP  24-03-2011  90.86  91.35  89.70  91.26  3918800
16  BHP  25-03-2011  90.42  91.09  90.07  90.67  3632200

In [154]:
BHP = pd.concat([BHP2,BHP1],axis = 0,ignore_index =True)
print("BHP","\n",BHP)

BHP
     Close   High    Low       Open        date name     volume
0   96.02  96.11  95.18  95.900000  03-03-2011  BHP  3379400.0
1   95.76  96.44  95.08  96.120000  04-03-2011  BHP  2463900.0
2   94.47  96.66  94.03  96.510000  07-03-2011  BHP  3590900.0
3   94.34  94.47  92.90  93.720000  08-03-2011  BHP  3805000.0
4   92.22  93.13  91.86  92.940000  09-03-2011  BHP  3271700.0
5   88.31  89.17  87.93  89.000000  10-03-2011  BHP  5507800.0
6   89.59  89.80  88.16  88.240000  11-03-2011  BHP  2996800.0
7   89.02  89.06  87.82  88.170000  14-03-2011  BHP  3434800.0
8   86.95  87.32  84.35  84.580000  15-03-2011  BHP  5008300.0
9   84.88  87.28  83.85  86.310000  16-03-2011  BHP  7809799.0
10  87.38  88.29  86.89  87.320000  17-03-2011  BHP  3947100.0
11  88.56  89.58  88.05  89.530000  18-03-2011  BHP  3809700.0
12  89.59  90.16  88.88  90.130000  21-03-2011  BHP  3098200.0
13  88.71  89.59  88.42  89.500000  22-03-2011  BHP  3500200.0
14  90.02  90.32  88.85  89.570000  23-03-2011  BHP  4285600.0
15  91.26  91.35  89.70  90.860000  24-03-2011  BHP  3918800.0
16  90.67  91.09  90.07  90.420000  25-03-2011  BHP  3632200.0
17  93.72  94.26  92.90  93.110000  11-02-2011  BHP        NaN
18  95.64  96.23  94.39  94.570000  14-02-2011  BHP        NaN
19  94.56  95.47  93.91  94.450000  15-02-2011  BHP        NaN
20  93.30  93.58  92.56  92.670000  16-02-2011  BHP        NaN
21  93.93  93.98  92.58  92.650000  17-02-2011  BHP        NaN
22  92.39  93.00  92.00  92.340000  18-02-2011  BHP        NaN
23  92.11  93.98  91.75  91.912976  22-02-2011  BHP        NaN
24  92.36  92.46  91.05  91.930000  23-02-2011  BHP        NaN
25  91.76  92.71  90.93  92.420000  24-02-2011  BHP        NaN
26  93.91  94.04  92.44  93.480000  25-02-2011  BHP        NaN
27  94.60  95.11  94.10  94.810000  28-02-2011  BHP        NaN
28  93.27  95.20  93.13  95.050000  01-03-2011  BHP        NaN
29  94.43  94.89  93.54  93.890000  02-03-2011  BHP        NaN

# 4

In [155]:
print(BHP["volume"].describe())

# data["销量"][(data["销量"] < 400) | (data["销量"] > 5000)] = None 
high = BHP["volume"].describe()["50%"]
low = BHP["volume"].describe()["25%"]
print(high)
print(low)

for i in range(len(BHP)):
    if BHP["volume"][i] >= high:
        BHP["volume"][i] = "high"
    elif BHP["volume"][i] < high and BHP["volume"][i] > low:
        BHP["volume"][i] = "medium"
    elif np.isnan(BHP["volume"][i]):
        BHP["volume"][i] = "No record"
    else:
        BHP["volume"][i] = "low"
            

BHP

count    1.700000e+01
mean     3.968247e+06
std      1.222688e+06
min      2.463900e+06
25%      3.379400e+06
50%      3.632200e+06
75%      3.947100e+06
max      7.809799e+06
Name: volume, dtype: float64
3632200.0
3379400.0

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
d:\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

    Close   High    Low       Open        date name     volume
0   96.02  96.11  95.18  95.900000  03-03-2011  BHP        low
1   95.76  96.44  95.08  96.120000  04-03-2011  BHP        low
2   94.47  96.66  94.03  96.510000  07-03-2011  BHP     medium
3   94.34  94.47  92.90  93.720000  08-03-2011  BHP       high
4   92.22  93.13  91.86  92.940000  09-03-2011  BHP        low
5   88.31  89.17  87.93  89.000000  10-03-2011  BHP       high
6   89.59  89.80  88.16  88.240000  11-03-2011  BHP        low
7   89.02  89.06  87.82  88.170000  14-03-2011  BHP     medium
8   86.95  87.32  84.35  84.580000  15-03-2011  BHP       high
9   84.88  87.28  83.85  86.310000  16-03-2011  BHP       high
10  87.38  88.29  86.89  87.320000  17-03-2011  BHP       high
11  88.56  89.58  88.05  89.530000  18-03-2011  BHP       high
12  89.59  90.16  88.88  90.130000  21-03-2011  BHP        low
13  88.71  89.59  88.42  89.500000  22-03-2011  BHP     medium
14  90.02  90.32  88.85  89.570000  23-03-2011  BHP       high
15  91.26  91.35  89.70  90.860000  24-03-2011  BHP       high
16  90.67  91.09  90.07  90.420000  25-03-2011  BHP       high
17  93.72  94.26  92.90  93.110000  11-02-2011  BHP  No record
18  95.64  96.23  94.39  94.570000  14-02-2011  BHP  No record
19  94.56  95.47  93.91  94.450000  15-02-2011  BHP  No record
20  93.30  93.58  92.56  92.670000  16-02-2011  BHP  No record
21  93.93  93.98  92.58  92.650000  17-02-2011  BHP  No record
22  92.39  93.00  92.00  92.340000  18-02-2011  BHP  No record
23  92.11  93.98  91.75  91.912976  22-02-2011  BHP  No record
24  92.36  92.46  91.05  91.930000  23-02-2011  BHP  No record
25  91.76  92.71  90.93  92.420000  24-02-2011  BHP  No record
26  93.91  94.04  92.44  93.480000  25-02-2011  BHP  No record
27  94.60  95.11  94.10  94.810000  28-02-2011  BHP  No record
28  93.27  95.20  93.13  95.050000  01-03-2011  BHP  No record
29  94.43  94.89  93.54  93.890000  02-03-2011  BHP  No record