# hw_06

1. 读入  肝气郁结证型系数.xls  数据集，将数据集按照等距、小组等量 两种方式 分别分为5组数据，分别计算5组数据的中位数与标准差

2. 读入BHP1.csv，使用适当的方法填补缺失值

3. 读入BHP2.xlsx，与BHP1数据集合并为BHP数据集

4. 将BHP数据集中的成交量（volume）替换为 high、median、low 三种水平（区间自行定义）

In [1]:
from __future__ import division
import numpy as np
import os
import matplotlib.pyplot as plt
from scipy.interpolate import lagrange #导入拉格朗日插值函数
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

In [4]:
input = "C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/hw_data/肝气郁结证型系数.xls"
data = pd.read_excel(input)
data[1:10]
aaa=np.array(df)
kkk=np.reshape(186,5)
df=DataFrame(kkk)
df.describe()

   肝气郁结证型系数
1     0.488
2     0.107
3     0.322
4     0.242
5     0.389
6     0.246
7     0.330
8     0.257
9     0.205