In [1]:
from __future__ import division
import numpy as np
import os
import matplotlib.pyplot as plt
from scipy.interpolate import lagrange #导入拉格朗日插值函数
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

# 缺失值处理——拉格朗日插值法

In [2]:
inputfile = 'C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/data/catering_sale.xls' #销量数据路径
outputfile = 'C:/Users/41914/Documents/Language/new/learn_python/Learn_Python/6/data/sales.xls' #输出数据路径
#inputfile = 'D:/wenting/ts/Learn_Python/6/data/catering_sale.xls' #销量数据路径
#outputfile = 'D:\wenting\ts\Learn_Python\6/data/sales.xls' #输出数据路径

In [3]:
data = pd.read_excel(inputfile) #读入数据
data[(data["销量"] < 400)]

            日期    销量
0   2015-03-01  51.0
103 2014-11-08  22.0
110 2014-11-01  60.0

In [4]:
data[(data["销量"] > 5000)]

            日期       销量
8   2015-02-21  6607.40
144 2014-09-27  9106.44

In [5]:
 data["销量"][(data["销量"] < 400) | (data["销量"] > 5000)] = None #过滤异常值，将其变为空值

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
data[(data["销量"] < 400)]

Empty DataFrame
Columns: [日期, 销量]
Index: []

In [7]:
data[(data["销量"] > 5000)]

Empty DataFrame
Columns: [日期, 销量]
Index: []

## 自定义列向量拉格朗日插值函数

In [8]:
#s为列向量，n为被插值的位置，k为取前后的数据个数，默认为5
def ployinterp_column(s, n, k=5):
  y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
  y = y[y.notnull()] #剔除空值
  return lagrange(y.index, list(y))(n) #插值并返回插值结果

In [9]:
p = DataFrame({'lkey': range(7),
                 'data1': range(7)})
p

   data1  lkey
0      0     0
1      1     1
2      2     2
3      3     3
4      4     4
5      5     5
6      6     6

In [10]:
p['data1'][(0)] = None
p['lkey'][(1)] = None

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
p

   data1  lkey
0    NaN   0.0
1    1.0   NaN
2    2.0   2.0
3    3.0   3.0
4    4.0   4.0
5    5.0   5.0
6    6.0   6.0

In [12]:
 def ploy_column(s, n, k=5):
        y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
        y = y[y.notnull()] #剔除空值
        print("[list(range(n-k, n): ",list(range(n-k, n)),"list(range(n+1, n+1+k)): ",list(range(n+1, n+1+k)))
        y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
        print("y",y)
        print("y.notnull()",y.notnull())
        y = y[y.notnull()] #剔除空值
        print("y(notnull)",y)
        print("y.index",y.index)
        print("n:",n)
        print("y.index",y.index)
        print("list(y))",list(y))
        print("final return")
        print(lagrange(y.index, list(y))(n))
        return(lagrange(y.index, list(y))(n))

# lagrange

lagrange(x,w)中两个主要的参数（x，w），把一系列点当成是函数关系y=f（x）

其中x对应参数x，而y对应为w。输出结果为函数f，根据函数可以求出对应x对应的y

In [13]:
for i in p.columns:
  for j in range(len(p)):
    if (p[i].isnull())[j]: #如果为空即插值。
        p[i][j] = ploy_column(p[i], j)

C:\Anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

[list(range(n-k, n):  [-5, -4, -3, -2, -1] list(range(n+1, n+1+k)):  [1, 2, 3, 4, 5]
y -5    NaN
-4    NaN
-3    NaN
-2    NaN
-1    NaN
 1    1.0
 2    2.0
 3    3.0
 4    4.0
 5    5.0
Name: data1, dtype: float64
y.notnull() -5    False
-4    False
-3    False
-2    False
-1    False
 1     True
 2     True
 3     True
 4     True
 5     True
Name: data1, dtype: bool
y(notnull) 1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
Name: data1, dtype: float64
y.index Int64Index([1, 2, 3, 4, 5], dtype='int64')
n: 0
y.index Int64Index([1, 2, 3, 4, 5], dtype='int64')
list(y)) [1.0, 2.0, 3.0, 4.0, 5.0]
final return
0.0
[list(range(n-k, n):  [-4, -3, -2, -1, 0] list(range(n+1, n+1+k)):  [2, 3, 4, 5, 6]
y -4    NaN
-3    NaN
-2    NaN
-1    NaN
 0    0.0
 2    2.0
 3    3.0
 4    4.0
 5    5.0
 6    6.0
Name: lkey, dtype: float64
y.notnull() -4    False
-3    False
-2    False
-1    False
 0     True
 2     True
 3     True
 4     True
 5     True
 6     True
Name: lkey, dtype: bool
y(notnull) 0    0.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
Name: lkey, dtype: float64
y.index Int64Index([0, 2, 3, 4, 5, 6], dtype='int64')
n: 1
y.index Int64Index([0, 2, 3, 4, 5, 6], dtype='int64')
list(y)) [0.0, 2.0, 3.0, 4.0, 5.0, 6.0]
final return
1.0000000000000007

In [14]:
p

   data1  lkey
0    0.0   0.0
1    1.0   1.0
2    2.0   2.0
3    3.0   3.0
4    4.0   4.0
5    5.0   5.0
6    6.0   6.0

In [15]:

#逐个元素判断是否需要插值
for i in data.columns:
  for j in range(len(data)):
    if (data[i].isnull())[j]: #如果为空即插值。
      data[i][j] = ployinterp_column(data[i], j)

data.to_excel(outputfile) #输出结果，写入文件

C:\Anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
data[0:5]

          日期      销量
0 2015-03-01  -291.4
1 2015-02-28  2618.2
2 2015-02-27  2608.4
3 2015-02-26  2651.9
4 2015-02-25  3442.1

# data.frame合并

## 1

In [32]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'],
                 'data2': range(3)})
print("df1","\n",df1)
print("df2","\n",df2)

merge = pd.merge(df1, df2) # 选取交集合并，行数不一致时自动填充
key = pd.merge(df1, df2, on='key')
print("merge","\n",merge)
print("key","\n",key)

df1
    data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b
df2
    data2 key
0      0   a
1      1   b
2      2   d
merge
    data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
key
    data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

## 2

In [34]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df4 = DataFrame({'rkey': ['a', 'b', 'd'],
                 'data2': range(3)})

print("df3","\n",df3)
print("df4","\n",df4)

rkey = pd.merge(df3, df4, left_on='lkey', right_on='rkey') 
# 默认inner取交集
outer = pd.merge(df1, df2, how='outer') 
# outer取并集

print("merge-left_on=\'lkey', right_on='rkey\'","\n",rkey)
print("merge-outer","\n",outer)

df3
    data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b
df4
    data2 rkey
0      0    a
1      1    b
2      2    d
merge-left_on='lkey', right_on='rkey'
    data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a
merge-outer
     data1 key  data2
0     0.0   b    1.0
1     0.0   b    3.0
2     1.0   b    1.0
3     1.0   b    3.0
4     5.0   b    1.0
5     5.0   b    3.0
6     2.0   a    0.0
7     2.0   a    2.0
8     4.0   a    0.0
9     4.0   a    2.0
10    3.0   c    NaN
11    NaN   d    4.0

## 3

In [33]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                 'data1': range(6)})
df2 = DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                 'data2': range(5)})
print("df1","\n",df1)
print("df2","\n",df2)

left = pd.merge(df1, df2, on='key', how='left')
# 只用key中的index_intersection（preserve left dataframe's（df1） key order）
inner = pd.merge(df1, df2, how='inner')
# 取交集

print("merge-left","\n",left)
print("merge-inner","\n",inner)

df1
    data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b
df2
    data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d
merge-left
     data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
5       2   a    2.0
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   b    1.0
10      5   b    3.0
merge-inner
    data1 key  data2
0      0   b      1
1      0   b      3
2      1   b      1
3      1   b      3
4      5   b      1
5      5   b      3
6      2   a      0
7      2   a      2
8      4   a      0
9      4   a      2

## 4

In [40]:
left = DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
right = DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})

print("left","\n",left)
print("right","\n",right)

merge_outer = pd.merge(left, right, on=['key1', 'key2'], how='outer')
# 取key1和key2同时存在的交集

print("merge-key1&key2-outer","\n",merge_outer)

left
   key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3
right
   key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7
merge-key1&key2-outer
   key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

# 索引上的合并

## 1

In [41]:

left1 = DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],'value': range(6)})
right1 = DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
print("left1","\n",left1)
print("right1","\n",right1)

right_inner = pd.merge(left1, right1, left_on='key', right_index=True)

right_outer = pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

print("right_inner","\n",right_inner)
print("right_outer","\n",right_outer)

left1
   key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
right1
    group_val
a        3.5
b        7.0
right_inner
   key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
right_outer
   key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN