读入tips.csv 数据集

1. 统计不同time的tip的均值，方差

2. 将total_bill和tip根据不同的sex进行标准化(原数据减去均值的结果除以标准差)

3. 计算吸烟者和非吸烟者的小费比例值均值  的差值

4. 对sex与size聚合，统计不同分组的小费比例的标准差、均值，将该标准差与均值添加到原数据中

5. 对time和size聚合，画出total_bill 的饼图

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
from pandas import Series, DataFrame
import pandas as pd
import matplotlib as mpl
import matplotlib.dates as mdates
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

In [2]:
import pathlib as PL
home = PL.Path(get_ipython().magic(u'pwd'))
tips = pd.read_csv(home/'data/tips.csv', index_col=0, parse_dates=True)
tips.head()

             tip     sex smoker  day    time  size
total_bill
16.99       1.01  Female     No  Sun  Dinner     2
10.34       1.66    Male     No  Sun  Dinner     3
21.01       3.50    Male     No  Sun  Dinner     3
23.68       3.31    Male     No  Sun  Dinner     2
24.59       3.61  Female     No  Sun  Dinner     4

# 1.统计不同time的tip的均值，方差

In [5]:
tips.groupby('time').describe()

         size                                                 tip            \
        count      mean       std  min  25%  50%  75%  max  count      mean
time
Dinner  176.0  2.630682  0.910241  1.0  2.0  2.0  3.0  6.0  176.0  3.102670
Lunch    68.0  2.411765  1.040024  1.0  2.0  2.0  2.0  6.0   68.0  2.728088


             std   min  25%   50%     75%   max
time
Dinner  1.436243  1.00  2.0  3.00  3.6875  10.0
Lunch   1.205345  1.25  2.0  2.25  3.2875   6.7

# 2.将total_bill和tip根据不同的sex进行标准化
(原数据减去均值的结果除以标准差)

In [7]:
tips_sex = tips.groupby('sex')

In [ ]:
tips_sex